{% extends 'emp_temp/emp_base.html' %}
{% block main_content %}
<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.card {
    max-width: 95%;
    margin: 0 auto;
    border: -5% solid #ccc;
    border-radius: -5%;
    margin-bottom: 1%;

}
.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 1%;
    border-top-left-radius: -5%;
    border-top-right-radius: -5%;
    margin-bottom: 0%;
}

h2 {
        text-align: center;
        color: #fff;
}

.btn {
    display: block;
    width: 15%;
    color: #fff;
    background-color: #28a745;
    border: none;
    padding: 0.5%;
    /* border-radius: 0.4%; */
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin: 2% auto; /* Center the button horizontally */
}
.btn:hover {
    background-color: #218838;
}

tr {
    text-align: center;
}

.table thead {
    background-color: #89CFF0;
}

</style>

<body>
    <div class="card card-container">
        <div class="card-header">
            <h2>Salary Slip Overview</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for salary_slip in salary_slips %}
                        <tr>
                            <td>{{ salary_slip.month|date:'F Y' }}</td>
                            <td><a class="btn btn-block bg-gradient-success" href="{% url 'view_salary_slip' salary_slip.id %}">View</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">No salary slips available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock main_content %}
